/* App Styles
===================================================================================================================== */

// Header Styles:

#Header {
  color: $header-color;
  background-color: $header-bg;
}

// Layout Styles:

#Layout {
  background-color: $layout-bg;
}

// Crumb Styles:

#Crumbs {
  margin-top: $spacer;
}

// Page Layout Styles:

#PageLayout,
#HomePageLayout {
  background-color: $page-layout-bg;
}

// Page Component Styles:

.pagecomponent {
  
  .content-container > article {
    
    margin: $spacer 0 0;
    
    > header > h1 {
      color: $page-heading-color;
      font-weight: $page-heading-font-weight;
      text-transform: uppercase;
    }
    
  }
  
}

// Sidebar Styles:

#Sidebar {
  
  color: $sidebar-color;
  background-color: $sidebar-bg;
  
  .basecomponent {
    
    margin: $spacer 0;
    padding: $spacer;
    background-color: $sidebar-component-bg;
    box-shadow: $sidebar-component-shadow;
    
    > header > h3 {
      color: $sidebar-heading-color;
      font-size: $sidebar-heading-font-size;
      font-weight: $sidebar-heading-font-weight;
      text-transform: uppercase;
    }
    
    > div.content {
      font-size: $sidebar-content-font-size;
    }
    
  }
  
}

// Widget Styles:

#Widgets {
  
  color: $widgets-color;
  padding-bottom: $spacer;
  background-color: $widgets-bg;
  box-shadow: $widgets-shadow;
  
  .basecomponent {
    
    margin: $spacer 0 0;
    padding: $spacer;
    background-color: $widgets-component-bg;
    box-shadow: $widgets-component-shadow;
    
    > header > h3 {
      color: $widgets-heading-color;
      font-size: $widgets-heading-font-size;
      font-weight: $widgets-heading-font-weight;
      text-transform: uppercase;
    }
    
    > div.content {
      font-size: $widgets-content-font-size;
    }
    
  }
  
}

// Footer Styles:

#Footer {
  
  color: $footer-color;
  padding: $spacer 0;
  font-size: $footer-font-size;
  background-color: $footer-bg;
  
  a {
    color: inherit;
  }
  
}
