/* Form Styles
===================================================================================================================== */

// File Field Styles:

.custom-file-control {
  
  overflow: hidden;
  
  &.selected:lang(en)::after {
    content: "" !important;
  }
  
}

// Form Field Styles:

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
}
