/* Pagination Styles
===================================================================================================================== */

.pagination {
  
  flex-wrap: wrap;
  
  .page-link {
    white-space: nowrap;
  }
  
  .page-more {
    color: $gray-600;
    display: block;
    position: relative;
    line-height: $pagination-line-height;
    padding: $pagination-padding-y $pagination-padding-x;
    border: $pagination-border-width solid transparent;
  }
  
}

.pagination-sm {
  
  .page-more {
    padding: $pagination-padding-y-sm $pagination-padding-x-sm;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  
}

.pagination-lg {
  
  .page-more {
    padding: $pagination-padding-y-lg $pagination-padding-x-lg;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
  
}

.icon-only {
  
  .page-link > span.text {
    display: none;
  }
  
}

.text-only {
  
  .page-link > i.fa {
    display: none;
  }
  
}
